.dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.dashboard-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    
    
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-button {
    width: 35px;
    height: 35px;
    background: #1a1a1a;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-button img {
    width: 20px;
    height: 20px;
}

.logout-btn {
    background: #1a1a1a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
